<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748232993667-27kjbfvob84no5u2ppske5bcnua4q4cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748232993667-27kjbfvob84no5u2ppske5bcnua4q4cd</string>
	<key>API_KEY</key>
	<string>AIzaSyAjsUQeah1v3Kw4E95fySg3nbXrkIoFzvk</string>
	<key>GCM_SENDER_ID</key>
	<string>748232993667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IsaiahMcNealy.IMS</string>
	<key>PROJECT_ID</key>
	<string>inventory-management-sys-2fb2c</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-management-sys-2fb2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748232993667:ios:6a09cb9cbea78a693824b6</string>
</dict>
</plist>